* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.title-wrapper {
   display: grid;
   place-items: center;
}

.spinner-wrapper {
   margin-top: 4rem;
   height: 60vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.4rem;
}

.spinner-border {
   width: 3rem;
   height: 3rem;
}
