#new-blog-section {
   margin-top: 4rem;
   width: 75%;
   position: absolute;
   right: 0;
   padding: 2rem;
}

.full-width {
   width: 30%;
}

@media only screen and (max-width: 800px) {
   #new-blog-section {
      margin-top: 4rem;
      width: 100%;
   }
   .full-width {
      width: 100%;
   }
}
