#blog-page {
   position: absolute;
   right: 0;
   top: 4rem;
   width: 75%;
   min-height: 100%;
   padding: 1rem;
}

.blog-content {
   min-height: 60vh;
}

@media only screen and (max-width: 800px) {
   #blog-page {
      width: 100%;
   }
}
